%h1 Access Denied

- unless current_user
  %p Please #{link_to('Sign In', new_user_session_path)} to visit this page.
  %p= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary'
- else
  %p Your account does not have the required permissions to visit this page.
  %p= link_to 'Home', root_path, class: 'btn btn-primary'

- if Rails.env.development?
  .card
    .card-body
      - if exception.subject.blank?
        %h4 cannot :#{exception.action}, nil
      - elsif exception.subject.kind_of?(Symbol)
        %h4 cannot :#{exception.action}, :#{exception.subject}
      - elsif exception.subject.to_s.present?
        %h4 cannot :#{exception.action}, #{exception.subject}
      - else
        %h4 cannot :#{exception.action}, #{exception.subject.class.name}

      - if current_user.present?
        %p current_user: #{link_to current_user.to_s, edit_admin_user_path(current_user)}
        %p roles: #{current_user.roles}
      - else
        %p current_user: none

      %p= link_to 'Refresh', request.path, class: 'btn btn-secondary'

      - exception.backtrace.first(10).each do |str|
        %p= str

      %hr

      %p.text-center
        %small This well of debugging information is only displayed when in development mode.



