- content_for :breadcrumb do
  &nbsp;

.jumbotron
  = effective_region :home_jumbotron do
    %h1 Effective Website
    %p This is a very effective website. Whatever that means.
    %p
      = link_to 'Learn More', '/about', class: 'btn btn-primary btn-lg'

= effective_region :home_top do
  %p Welcome to an effective website!

.row
  .col-xs-6
    = effective_region :home_left do
      %p Left

  .col-xs-6
    = effective_region :home_right do
      %p Right

= effective_region :home_bottom do
  %p Bottom
