.row
  .col-6
    = render 'users/sign_up_fields', f: f
  .col-6
    - if current_user.is?(:admin) && f.object != current_user
      = f.radios :roles, EffectiveRoles.roles_collection(f.object, current_user)
    - else
      = effective_roles_summary(f.object)

= f.file_field :avatar

= f.file_field :files

/ .row
/   .col-6
/     = f.file_field :avatar, direct_upload: true
/   .col-6
/     = f.file_field :files, multiple: true, direct_upload: true

.row
  .col-6
    %h3 Billing Address
    = effective_address_fields(f, :billing_address)

  .col-6
    %h3 Shipping Address
    = effective_address_fields(f, :shipping_address)
