= f.input :email, as: :effective_email ,required: true, autofocus: true

= f.input :password, required: true,
  hint: ((f.object.persisted? && !f.object.invited_to_sign_up?) ? 'leave blank to keep existing password' : ''),
  input_html: { autocomplete: 'off' }

= f.input :password_confirmation, required: true,
  hint: ((f.object.persisted? && !f.object.invited_to_sign_up?) ? 'leave blank to keep existing password' : ''),
  input_html: { autocomplete: 'off' }

.row
  .col-sm-6= f.input :first_name
  .col-sm-6= f.input :last_name
