.row.justify-content-center
  .col-12.col-md-8.col-lg-6
    .card
      .card-body
        %h5.card-title= @page_title
        = effective_form_with(model: resource, url: password_path(resource_name)) do |f|
          = f.error_notification
          = f.email_field :email, required: true, autofocus: true, Label: 'Email address of your account'

          = f.submit 'Send me reset password instructions'

        = render 'devise/shared/links'
