.row
  .col-sm-4.col-sm-offset-2
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, required: true, autofocus: true, labeled: 'Email address of your account'

      .form-actions
        = f.button :submit, 'Send me reset password instructions', class: 'btn btn-primary', data: { disable_with: 'Sending...' }

    = render 'devise/shared/links'
