= effective_form_with model: [(namespace ||= nil), client].compact do |f|
  .row
    .col-sm-6
      %h3 Contact Info

      = f.text_field :name
      = f.phone_field :phone
      = f.email_field :email

  %hr

  .row
    .col-sm-6
      %h3 Billing Address
      = effective_address_fields(f, :billing)
    .col-sm-6
      %h3 Shipping Address
      = effective_address_fields(f, :shipping)

  = effective_submit(f)

