.row
  .col-sm-6.col-sm-offset-3
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, as: :effective_email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      = f.button :submit, 'Sign in', class: 'btn btn-primary', data: { disable_with: 'Signing in...' }

    = render 'devise/shared/links'
