.row
  .col-md-6.offset-md-3
    = effective_form_with(model: resource, url: session_path(resource_name)) do |f|
      = f.email_field :email, required: true, autofocus: true
      = f.password_field :password, required: true
      = f.check_box :remember_me if devise_mapping.rememberable?

      = f.submit 'Sign in', data: { disable_with: 'Signing in...' }

    = render 'devise/shared/links'
