= effective_form_with model: [namespace, user] do |f|
  .row
    .col-sm-6
      = render 'admin/users/fields', f: f
    .col-sm-6
      - if f.object != current_user
        = f.radios :roles, EffectiveRoles.roles_collection(f.object, current_user)
      - else
        = effective_roles_summary(f.object)

      - if user.persisted?
        = render 'admin/users/form_invite', f: f

  = effective_submit(f)