- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

- if @resource
  .row
    .col-8
      %h1= @page_title
    .col-4.text-right
      = render_resource_actions(resource, edit: false) do
        - if can?(:impersonate, @user)
          = link_to('Impersonate', impersonate_user_path(@user), title: "Impersonate #{@user}", class: 'btn btn-secondary', data: { method: :post, confirm: "Impersonate #{@user}?"})

  = render_resource_form(resource)
