%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to(image_tag('logo-admin.png', alt: 'Admin Logo'), '/', class: 'navbar-brand')

  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navContent', 'aria-controls': 'navContent', 'aria-label': 'Toggle navigation'}}
    %span.navbar-toggler-icon

  #navContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if can? :manage, Effective::Log
        = nav_link_to 'Logs', effective_logging.admin_logs_path

      - if can? :manage, Effective::Menu
        = nav_link_to 'Menus', effective_pages.admin_menus_path

      - if can? :manage, Effective::Order
        = nav_link_to 'Orders', effective_orders.admin_orders_path

      - if can? :manage, Effective::Page
        = nav_link_to 'Pages', effective_pages.admin_pages_path

      - if can? :manage, User
        = nav_link_to 'Users', admin_users_path

      - if can? :manage, Effective::Trash
        = nav_link_to 'Trash', effective_trash.admin_trash_index_path
