%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to(image_tag('logo.png', alt: 'Logo'), '/', class: 'navbar-brand')

  %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navContent', 'aria-controls': 'navContent', 'aria-label': 'Toggle navigation'}}
    %span.navbar-toggler-icon

  #navContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      = nav_link_to 'Style Guide', effective_style_guide.style_guide_path
      = nav_link_to 'About', '/about'
      = nav_link_to 'Contact', '/contact'

    %ul.navbar-nav
      - if current_user.present?
        = nav_dropdown(user_tag(current_user), right: true) do
          = nav_link_to 'Settings', user_settings_path

          - if can?(:access, :admin)
            = nav_divider
            = nav_link_to 'Site Admin', '/admin'

          = nav_divider
          = nav_link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        = nav_link_to 'Sign In', new_user_session_path

