!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: 'noindex, nofollow', name: 'robots'}
    = csrf_meta_tags

    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'

    = effective_pages_header_tags
    = effective_regions_include_tags

  %body{class: effective_pages_body_classes}
    = render partial: 'layouts/navbar_admin'

    #admin-wrap
      = render partial: 'layouts/alert'

      .container
        .row
          .col-xs-12
            = yield

    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': 'false'
