!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{name: 'robots', content: 'index, follow'}

    = csrf_meta_tags
    = csp_meta_tag
    /= action_cable_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = effective_pages_header_tags
    = effective_posts_header_tags
    = effective_regions_include_tags

  %body{class: effective_pages_body_classes}
    = render partial: 'layouts/staging'
    = render partial: 'layouts/navbar_admin'

    #admin-wrap
      %div{class: params[:action] == 'index' ? 'container-fluid' : 'container' }
        = render partial: 'layouts/alert'
        #main= yield
