!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'index, follow', name: 'robots'}
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = effective_pages_header_tags
    = effective_regions_include_tags

  %body{class: effective_pages_body_classes}
    = render partial: 'layouts/flash'
    = render partial: 'layouts/navbar'

    #header.container
      - if content_for?(:breadcrumb)
        = yield :breadcrumb
      - else
        %ol.breadcrumb
          %li= link_to 'Home', '/'
          %li.active= @page_title

    #content.container
      - if content_for?(:sidebar)
        .row
          #sidebar.col-sm-3= yield :sidebar
          #main.col-sm-9= yield
      - else
        = yield

    #footer-wrap
      = render partial: 'layouts/footer'
